*{
    margin:0;
}
.nav-left img{
    height: 40px;
}
.profile-img{
    height: 35px;
    border-radius: 50%;
}
.navigation{
    padding:15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px black;

}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-mid{
    display: flex;
    flex: 1;
    justify-content: center;
}
.nav-input{
    display: flex;
    align-items: center;
    background-color:white ;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.nav-input input{
    border:0px;
    background-color:transparent ;
    outline-width: 0;

}
.mid-icons .material-icons{
    font-size: xx-large;
    color: gray;
}
.mid-icons:hover .material-icons{
    color: blue;
}
.mid-icons{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.mid-icons.active .material-icons{
    color: blue;
}
.mid-icons.active{
    border-bottom: 4px solid blue;
}
.mid-icons:hover{
    background-color: lightgray;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.profile-info{
    display: flex;
    align-items: center;
}
.profile-info:hover{
    color: blue;
}
.profile-info h4{
    margin-left: 10px;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right .material-icons{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
    font-size: xx-large;
}
.nav-right .material-icons:hover{
    color: blue;
}

.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px black;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

}
.story:hover{
    transform: scale(1.07);
}
.story-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: blue solid 3px;
    margin:10px;
}
.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color:white;
}
.storyReel{
    display: flex;
    padding: 10px 0;
}
.main-body{
    display: flex;
}
.left-row{
    overflow: scroll;
    overflow-x:hidden;
}
.leftbox{
    margin:10px;
    cursor: pointer;
    display: flex;
    width: 300px;
    align-items: center;
    padding:10px;
}
.leftbox:hover{
    background-color: lightgrey;
    border-radius: 10px;
}
.leftbox h4{
    margin-left: 20px;
    font-weight: 600;
}
.leftbox .material-icons{
    font-size: xx-large;
    color:blue;
}
body{
background-color: white;
}
.post-input{
    display: flex;
align-items: center;
background-color:white ;
padding: 10px;
margin-left: 3px;
margin-right: 3px;
border-radius: 999px;
width: 100px;
flex:1;
}
.new-post{
    display: flex;
    box-shadow: white;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    margin-left: 40px;
}
.post-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightblue;
}
.post-top input{
    border: 0px;
}
.post-type{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.post-type .post-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.post-type .material-icons{
    font-size: xx-large;
    
}
.post-options:hover{
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
.post-options h4{
    font-size: medium;
    margin-left: 2px;

}
.post-options{
    width:200px;
}
/* .recent-post{
    display: flex;
    background-color: lightsalmon;
    width: 90%;
    margin-left: 45px;
    margin-top: 10px; 

}
.recent-post .top-post{
    display: flex;
    align-items: center;
}
.post-top .post-icon{
    margin-top: 24px;
    margin-left: -60px;
}*/
.post-icon{
    margin-top: 20px;
    margin-left: -50px;

}
.post{
    width:90%;
    margin: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(0, 0,0,0.75);
    margin-left: 45px;
}
.post-image img{
    width: 585px;
}